/*
:root {
    --bs-primary:#b5b2ac;
    --bs

}*/
footer{
    padding: 1rem;
}
body{
    background-color: #847663;
    font-size: larger;
    font-family: 'Open Sans', sans-serif;
}


ul{
    padding: 1rem; 
}
h4{
    color: #b5b2ac;
}
h1{
    text-align: center;
}
:root{
    --bs-success-rgb: 181, 178, 172;
}

.nav-pills{
    --bs-nav-pills-link-active-bg: #b5b2ac;
}

/*
@media (min-width: 768px){

}*/