/*
:root {
    --bs-primary:#b5b2ac;
    --bs

}*/
footer{
    padding: 1rem;
}
body{
    background-color: #847663;
}

ul{
    padding: 1rem; 
    align-items: center;
}
h4{
    color: #b5b2ac;
}
h1{
    text-align: center;
}
/*
@media (min-width: 768px){

}*/